#TODO: add version to all packages
fastapi
pytest
requests
uvicorn[standard]==0.19.0
sympy==1.11.1
python-multipart==0.0.5
Pillow==9.3.0
locust==2.13.0
opencv-python==4.5.5.62
numpy==1.23.4
PyJWT==2.6.0